/* Size for brand */
nav .bg-light
{
    font-size: xx-large;
    background-color: lightcyan;
    font-family: 'Poppins';
    font-style: normal;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}

