
@import url('https://fonts.googleapis.com/css?family=Poppins');

nav
{
    padding: 10px 10px;
    background-color:black;
}

 
.white
{
    color:white;
    font-size: xx-large;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    text-decoration:none;
}

body
{
    background-color:black;
    
}
.table
{
    color:white;
}  
h2
{
    color:white;
}
.btn
{
    background-color:seagreen;
    border-color:seagreen;
}
.btn:hover
{
    background-color:mediumseagreen;
    border-color:mediumseagreen;
}
.cancel
{
    background-color:crimson;
    color:white;
    border-radius: 30px;

}
.popup
{
    transform: translate(-50%, -50%) scale(0.1);
    background-color:rgb(194, 178, 178);
    border-radius: 10%;
    padding: 10px 10px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup
{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
