
@import url('https://fonts.googleapis.com/css?family=Poppins');

nav
{
    padding: 10px 10px;
    background-color:black;
}
ul
{
    display:inline;
}
 
.white
{
    color:white;
    font-size: xx-large;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    text-decoration:none;
}

body
{
    color: white;
    background-color: black;
    
}
.table
{
    color:white;
    
}  
h2
{
    color:white;
}
a
{
    text-decoration: none;
}
.btn
{
    background-color:seagreen;
    border-color:seagreen;
    text-decoration: none;
}
.btn:hover
{
    background-color:mediumseagreen;
    border-color:mediumseagreen;
}
.cancel
{
    background-color:crimson;
    color:white;
    border-radius: 30px;

}
.popup
{
    transform: translate(-50%, -50%) scale(0.1);
    background-color:rgb(194, 178, 178);
    border-radius: 10%;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup
{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    right:50%;
}
.row {
    padding-right: 20%;
    padding-left: 20%;
}

.col-sm-4 {
    padding-right: 5px;
    padding-left: 5px;
}

.form-check {
    text-align: center;
    vertical-align: middle;
}

.form-check-label {
    text-align: center;
    vertical-align: middle;
    display: block;
    padding-left: 15px;
    text-indent: -150px;
  }