{% extends "layout.html" %}

{% block title %}
    Add New Subscription
{% endblock %}

{% block main %}
    <h2>Add New Subscription</h2>
    <br>
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" id="name" name="name" placeholder="Subscription Name" type="text">
        </div>
        <div class="mb-3">
            <select name = "type" id = "type">
                <option value = "Monthly">Monthly</option>
                <option value = "Yearly">Yearly</option>
                <option value = "free_trial">Free Trial</option>
            </select>
        </div>

        Registration Date

        <div class="row">
            <div class="col-sm-4"><input class="form-control" id="month" name="month" placeholder="Month" type="number" min="1" max="12"></div>
            <div class="col-sm-4"><input class="form-control" id="day" name="day" placeholder="Day" type="number" min="1" max="31"></div>
            <div class="col-sm-4"><input class="form-control" id="year" name="year" placeholder="Year" type="number" min="2022"></div>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Registered today
            </label>
        </div>

        <div class="mb-3">
            <input class="form-control" id="price" name="price" placeholder="Price Per Unit" type="number" min="0.00" max="10000.00" step="0.01">
        </div>
        <button class="btn btn-primary" type="submit">Add New Subscription</button>
    </form>
{% endblock %}
