{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<h1>{{ firstname }} {{ lastname }}'s Subscriptions</h1>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Registration Date</th>
                <th>Renewal Date</th>
                <th></th>
            </tr>
            {% for entry in transactions %}
            <div class="container">
                <div class = "popup" id="popup">
                    <p>Are you sure you would like to cancel this subscription?</p>
                    <a class="nav-link" href="/delete/{{ entry.id }}"><button class="btn" onclick="closePopup()">Yes</button></a><button class="btn" onclick="closePopup()">No</button>
            </div>
                <tr>
                    <td>{{ entry['name'] }}</td>
                    <td>{{ entry['type'] }}</td>
                    <td>{{ entry['price'] | usd }}</td>
                    <td>{{ entry['reg_date'] }}</td>
                    <td>{{ entry['ren_date'] }}</td>
                    <td>
                        <button class="cancel" onclick="openPopup()">Cancel</button>
                    </td>
                </tr>
                
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total Due This Month</strong></td>
                <td>{{ total | usd }}</td>
                <td></td>
            </tr>
        </table>
        <a href="/add"><button class="btn btn-primary" type="submit">Add Subscription</button></a>
    </div>
    <script>
        let popup = document.getElementById("popup");
        function openPopup(){
            popup.classList.add("open-popup");
        }
        function closePopup(){
            popup.classList.remove("open-popup");
        }
    </script>
{% endblock %}