{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Registration Date</th>
                <th>Renewal Date</th>
                <th></th>
            </tr>
            {% for entry in transactions %}
                <tr height = "50px">
                    <td>{{ entry['name'] }}</td>
                    <td>{{ entry['type'] }}</td>
                    <td>{{ entry['price'] }}</td>
                    <td>{{ entry['reg_date'] }}</td>
                    <td>{{ entry['ren_date'] }}</td>
                    <td>
                        <button class="cancel" onclick="openPopup()">Cancel</button>
                        <div class = "popup" id="popup">
                            <p>Are you sure you would like to cancel this subscription?</p>
                        <div>
                            <button class="btn" onclick="closePopup()">No</button><a class="nav-link" href="/delete/{{ entry.id }}"><button class="btn" onclick="closePopup()">Yes</button></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total Due This Month</strong></td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit"><a href="/add">Add Subscription</a></button>
    </div>
    <script>
        let popup = document.getElementById("popup");
        function openPopup(){
            popup.classList.add("open-popup");
        }
        function closePopup(){
            popup.classList.remove("open-popup");
        }
    </script>
{% endblock %}